.board-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}


.add-btn {
  padding: 10px 15px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-btn:hover {
  background-color: #45a049;
}
