/* App.css */

.App {
  display: flex;
  flex-wrap: wrap;
}

.note {
  position: absolute;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: grab;
  transition: all 0.3s ease;
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.note:hover {
  transform: scale(1.05);
}

.note-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.xbutton {
  background-color: #ff5858;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.rainbow1 {
  background: linear-gradient(45deg, #ffcc29, #f76f8e, #3a1c71);
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.note-content {
  margin-top: 10px;
}

textarea {
  width: 100%;
  min-height: 50px;
  padding: 5px;
  font-size: 14px;
}

.edit {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.edit:hover {
  background-color: #45a049;
}
